#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}




.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navigation {
    display: flex;
    gap: 1em;
}

.navigation li {
    list-style: none;
}

textarea {
    min-width: 800px;
}
